# بسم الله الرحمن الرحيم

In [53]:
import pandas as pd 
import numpy as np 
from matplotlib import pyplot as plt 
import pickle 
pd.set_option("display.max_columns",90)

In [54]:
season  = "2015-2016"
season_1= "2016-2017"
names=None
with open(f"sstand-stats{season}/season-{season}","rb") as fb : 
    names = pickle.load(fb)
print(names)

nones=names[-3:]
names= names[0:-3]

['Barcelona', 'Real Madrid', 'Atlético Madrid', 'Villarreal', 'Athletic Club', 'Celta Vigo', 'Sevilla', 'Málaga', 'Real Sociedad', 'Betis', 'Las Palmas', 'Valencia', 'Espanyol', 'Eibar', 'La Coruña', 'Granada', 'Sporting Gijón', 'Rayo Vallecano', 'Getafe', 'Levante']

In [55]:
# for name in names : 
#     with open(f"sstand-stats{season}/{name}-stand-stats.csv","rb") as fb :
#         content= fb.readlines()

#     with open(f"sstand-stats{season}/{name}-stand-stats.csv","wb") as fb :
#         fb.writelines(content[5:])

In [56]:
train_data=pd.DataFrame()

In [57]:
for i , name in enumerate(names):
    print(name)
    team_df = pd.read_csv(f"sstand-stats{season}/{name}-stand-stats.csv")
    trans_df = pd.read_csv(f"sstand-stats{season}/transfers-{season_1}.csv")
    team_df =team_df[team_df.columns[:-2]]
    team_df.drop(["Player","Nation","CrdY","CrdR"],axis=1,inplace=True)
    team_df= team_df.iloc[:-2]
    team_df["Pos"]= team_df["Pos"].apply(lambda x : x[0:2])
    team_df= team_df[team_df["MP"]>0] #remove the players that didn't play in the season
    
    team_df= team_df[team_df.columns[:-5]]
    team_df= pd.concat([team_df,pd.DataFrame({"rank":[i+1]*team_df.shape[0]})],axis=1)
    num_of_players=team_df[team_df["Pos"]=="FW"].shape[0]
    obs=pd.DataFrame(team_df[team_df["Pos"]=="FW"].describe().loc["mean"]).T.reset_index()
    
   
    obs=pd.concat([obs,pd.DataFrame({"team_name":[name]})],axis=1)
    obs=pd.concat([obs,pd.DataFrame({"#attackers":[num_of_players]})],axis=1)
#     team_df= pd.concat([team_df,pd.DataFrame({"team_name":[name]*team_df.shape[0]})],axis=1)
    train_data=pd.concat([train_data,
                          obs]
                         ,axis=0)

Barcelona
Real Madrid
Atlético Madrid
Villarreal
Athletic Club
Celta Vigo
Sevilla
Málaga
Real Sociedad
Betis
Las Palmas
Valencia
Espanyol
Eibar
La Coruña
Granada
Sporting Gijón

In [58]:


train_data= train_data.reset_index().drop(["level_0","index"],axis=1)

In [59]:
train_data["team_name"]=train_data["team_name"].apply(lambda x : x.replace("Utd","United"))
train_data["team_name"]=train_data["team_name"].apply(str.lower)
train_data["team_name"]=train_data["team_name"].apply(lambda x : x.replace(" ",""))
train_data.sort_values(by=["team_name"],ascending=True,inplace=True)
train_data=train_data.reset_index().drop(["index"],axis=1)

In [60]:
train_data

,Age,MP,Starts,Min,90s,Gls,Ast,G+A,G-PK,PK,PKatt,rank,team_name,#attackers
0,30.333333,16.000000,11.333333,1049.000000,11.666667,6.666667,2.000000,8.666667,5.666667,1.000000,1.666667,5.0,athleticclub,3
1,26.600000,20.600000,14.600000,1272.200000,14.140000,7.200000,2.800000,10.000000,7.000000,0.200000,0.400000,3.0,atléticomadrid,5
2,23.333333,22.166667,19.166667,1732.000000,19.250000,15.666667,7.333333,23.000000,13.833333,1.833333,3.166667,1.0,barcelona,6
3,29.000000,17.200000,11.200000,1047.400000,11.620000,4.400000,1.400000,5.800000,3.800000,0.600000,0.800000,10.0,betis,5
4,25.000000,35.000000,21.500000,1950.000000,21.650000,10.000000,2.000000,12.000000,9.000000,1.000000,1.000000,6.0,celtavigo,2
5,26.333333,26.666667,18.000000,1685.000000,18.733333,9.333333,3.000000,12.333333,8.333333,1.000000,1.000000,14.0,eibar,3
6,23.333333,25.666667,15.666667,1463.333333,16.266667,5.000000,1.000000,6.000000,4.666667,0.333333,0.666667,13.0,espanyol,3
7,25.250000,19.750000,12.750000,1185.250000,13.175000,5.250000,1.000000,6.250000,3.500000,1.750000,1.750000,16.0,granada,4
8,24.500000,18.500000,12.000000,1136.750000,12.650000,4.750000,2.000000,6.750000,4.500000,0.250000,0.250000,15.0,lacoruña,4
9,23.000000,30.000000,19.500000,1776.000000,19.750000,7.000000,1.500000,8.500000,7.000000,0.000000,0.000000,11.0,laspalmas,2
10,27.400000,17.400000,12.400000,1113.600000,12.380000,4.200000,1.400000,5.600000,3.800000,0.400000,0.400000,8.0,málaga,5
11,24.428571,21.000000,14.714286,1327.142857,14.757143,12.428571,5.571429,18.000000,11.571429,0.857143,1.285714,2.0,realmadrid,7
12,23.000000,17.250000,12.000000,1098.750000,12.225000,6.750000,0.750000,7.500000,6.750000,0.000000,0.000000,9.0,realsociedad,4
13,25.500000,15.750000,10.000000,900.250000,10.000000,5.500000,1.750000,7.250000,4.500000,1.000000,1.250000,7.0,sevilla,4
14,21.500000,19.500000,11.750000,1098.250000,12.200000,5.000000,0.500000,5.500000,4.750000,0.250000,0.250000,17.0,sportinggijón,4
15,24.000000,25.500000,15.500000,1441.333333,16.033333,4.166667,2.000000,6.166667,3.833333,0.333333,0.500000,12.0,valencia,6
16,25.750000,26.000000,17.500000,1539.750000,17.150000,6.000000,4.500000,10.500000,6.000000,0.000000,0.000000,4.0,villarreal,4

In [61]:
transfers = pd.read_csv(f"sstand-stats{season}/transfers-{season_1}.csv")
transfers.drop("Unnamed: 0",axis=1,inplace=True)

In [62]:
transfers

,team,Goalkeeper,Right-Back,Left-Back,Centre-Back,DefensiveMidfield,RightWinger,LeftWinger,CentralMidfield,Centre-Forward,AttackingMidfield,LeftMidfield,SecondStriker
0,FC BARCELONA,1,0,1,1,0,0,0,1,1,1,0,0
1,REAL MADRID,0,0,0,3,0,0,0,1,3,0,0,0
2,ATLÉTICO DE MADRID,1,1,1,2,0,0,2,0,2,1,0,0
3,ATHLETIC BILBAO,1,1,1,0,0,0,0,1,0,1,0,0
4,VILLARREAL CF,0,0,2,1,0,1,3,0,1,1,0,0
5,REAL BETIS BALOMPIÉ,1,1,1,3,0,0,0,3,3,0,0,0
6,SEVILLA FC,0,0,0,1,0,1,0,0,1,3,0,1
7,DEPORTIVO ALAVÉS,0,1,0,1,0,1,2,1,1,0,0,0
8,CD LEGANÉS,0,0,1,1,0,0,0,1,1,0,0,1
9,RCD ESPANYOL BARCELONA,1,0,1,1,0,1,0,0,1,1,0,1
10,GRANADA CF,0,1,0,1,0,2,0,0,1,0,0,0
11,SD EIBAR,1,2,1,2,0,1,2,2,2,0,0,0
12,CELTA DE VIGO,0,1,0,0,0,0,2,1,0,0,0,0
13,SPORTING GIJÓN,2,1,0,1,0,0,1,0,1,1,0,0
14,DEPORTIVO DE LA CORUÑA,2,0,0,1,0,0,3,1,1,1,0,0
15,REAL SOCIEDAD,2,0,0,1,0,0,1,0,1,0,0,0
16,MÁLAGA CF,0,0,0,2,0,1,2,0,2,0,0,1
17,VALENCIA CF,0,1,0,0,0,0,1,1,0,0,0,0
18,UD LAS PALMAS,0,1,1,1,0,1,0,0,1,1,0,0
19,CA OSASUNA,0,0,2,1,0,2,0,3,1,0,0,0

In [63]:
transfers["team"]=transfers["team"].apply(lambda x : x.replace("REAL VALLADOLID CF","VALLADOLID"))
transfers["team"]=transfers["team"].apply(lambda x : x.replace("AFC",""))
transfers["team"]=transfers["team"].apply(lambda x : x.replace("FC",""))
transfers["team"]=transfers["team"].apply(lambda x : x.replace("CA",""))
transfers["team"]=transfers["team"].apply(lambda x : x.replace("CF",""))
transfers["team"]=transfers["team"].apply(lambda x : x.replace("RCD",""))
transfers["team"]=transfers["team"].apply(lambda x : x.replace("CD",""))
transfers["team"]=transfers["team"].apply(lambda x : x.replace("DEPORTIVO",""))
transfers["team"]=transfers["team"].apply(lambda x : x.replace("SD",""))
transfers["team"]=transfers["team"].apply(lambda x : x.replace("UD",""))
transfers["team"]=transfers["team"].apply(lambda x : x.replace("DE",""))






transfers["team"]=transfers["team"].apply(str.lower)
transfers["team"]=transfers["team"].apply(lambda x : x.replace(" ",""))
transfers["team"]=transfers["team"].apply(lambda x : x.replace("wolverhamptonwanderers","wolves"))

In [64]:
transfers

,team,Goalkeeper,Right-Back,Left-Back,Centre-Back,DefensiveMidfield,RightWinger,LeftWinger,CentralMidfield,Centre-Forward,AttackingMidfield,LeftMidfield,SecondStriker
0,barcelona,1,0,1,1,0,0,0,1,1,1,0,0
1,realmadrid,0,0,0,3,0,0,0,1,3,0,0,0
2,atléticomadrid,1,1,1,2,0,0,2,0,2,1,0,0
3,athleticbilbao,1,1,1,0,0,0,0,1,0,1,0,0
4,villarreal,0,0,2,1,0,1,3,0,1,1,0,0
5,realbetisbalompié,1,1,1,3,0,0,0,3,3,0,0,0
6,sevilla,0,0,0,1,0,1,0,0,1,3,0,1
7,alavés,0,1,0,1,0,1,2,1,1,0,0,0
8,leganés,0,0,1,1,0,0,0,1,1,0,0,1
9,espanyolbarcelona,1,0,1,1,0,1,0,0,1,1,0,1
10,granada,0,1,0,1,0,2,0,0,1,0,0,0
11,eibar,1,2,1,2,0,1,2,2,2,0,0,0
12,celtavigo,0,1,0,0,0,0,2,1,0,0,0,0
13,sportinggijón,2,1,0,1,0,0,1,0,1,1,0,0
14,lacoruña,2,0,0,1,0,0,3,1,1,1,0,0
15,realsociedad,2,0,0,1,0,0,1,0,1,0,0,0
16,málaga,0,0,0,2,0,1,2,0,2,0,0,1
17,valencia,0,1,0,0,0,0,1,1,0,0,0,0
18,laspalmas,0,1,1,1,0,1,0,0,1,1,0,0
19,osasuna,0,0,2,1,0,2,0,3,1,0,0,0

In [65]:
transfers["Attacking_transfers"]=transfers["RightWinger"] + transfers["LeftWinger"] \
+ transfers["SecondStriker"]+  transfers["Centre-Forward"]

In [66]:
transfers= transfers[["team","Attacking_transfers"]]
transfers["team"]= transfers["team"].replace(['realbetisbalompié'],["betis"])
transfers["team"]= transfers["team"].replace(['rcdespanyolbarcelona'],["espanyol"])


transfers= transfers.sort_values(by="team",ascending=True).reset_index().drop("index",axis=True)

/tmp/ipykernel_5157/2330820599.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transfers["team"]= transfers["team"].replace(['realbetisbalompié'],["betis"])
/tmp/ipykernel_5157/2330820599.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transfers["team"]= transfers["team"].replace(['rcdespanyolbarcelona'],["espanyol"])

In [67]:
train_data

,Age,MP,Starts,Min,90s,Gls,Ast,G+A,G-PK,PK,PKatt,rank,team_name,#attackers
0,30.333333,16.000000,11.333333,1049.000000,11.666667,6.666667,2.000000,8.666667,5.666667,1.000000,1.666667,5.0,athleticclub,3
1,26.600000,20.600000,14.600000,1272.200000,14.140000,7.200000,2.800000,10.000000,7.000000,0.200000,0.400000,3.0,atléticomadrid,5
2,23.333333,22.166667,19.166667,1732.000000,19.250000,15.666667,7.333333,23.000000,13.833333,1.833333,3.166667,1.0,barcelona,6
3,29.000000,17.200000,11.200000,1047.400000,11.620000,4.400000,1.400000,5.800000,3.800000,0.600000,0.800000,10.0,betis,5
4,25.000000,35.000000,21.500000,1950.000000,21.650000,10.000000,2.000000,12.000000,9.000000,1.000000,1.000000,6.0,celtavigo,2
5,26.333333,26.666667,18.000000,1685.000000,18.733333,9.333333,3.000000,12.333333,8.333333,1.000000,1.000000,14.0,eibar,3
6,23.333333,25.666667,15.666667,1463.333333,16.266667,5.000000,1.000000,6.000000,4.666667,0.333333,0.666667,13.0,espanyol,3
7,25.250000,19.750000,12.750000,1185.250000,13.175000,5.250000,1.000000,6.250000,3.500000,1.750000,1.750000,16.0,granada,4
8,24.500000,18.500000,12.000000,1136.750000,12.650000,4.750000,2.000000,6.750000,4.500000,0.250000,0.250000,15.0,lacoruña,4
9,23.000000,30.000000,19.500000,1776.000000,19.750000,7.000000,1.500000,8.500000,7.000000,0.000000,0.000000,11.0,laspalmas,2
10,27.400000,17.400000,12.400000,1113.600000,12.380000,4.200000,1.400000,5.600000,3.800000,0.400000,0.400000,8.0,málaga,5
11,24.428571,21.000000,14.714286,1327.142857,14.757143,12.428571,5.571429,18.000000,11.571429,0.857143,1.285714,2.0,realmadrid,7
12,23.000000,17.250000,12.000000,1098.750000,12.225000,6.750000,0.750000,7.500000,6.750000,0.000000,0.000000,9.0,realsociedad,4
13,25.500000,15.750000,10.000000,900.250000,10.000000,5.500000,1.750000,7.250000,4.500000,1.000000,1.250000,7.0,sevilla,4
14,21.500000,19.500000,11.750000,1098.250000,12.200000,5.000000,0.500000,5.500000,4.750000,0.250000,0.250000,17.0,sportinggijón,4
15,24.000000,25.500000,15.500000,1441.333333,16.033333,4.166667,2.000000,6.166667,3.833333,0.333333,0.500000,12.0,valencia,6
16,25.750000,26.000000,17.500000,1539.750000,17.150000,6.000000,4.500000,10.500000,6.000000,0.000000,0.000000,4.0,villarreal,4

In [68]:
transfers["team"]

0                alavés
1        athleticbilbao
2        atléticomadrid
3             barcelona
4                 betis
5             celtavigo
6                 eibar
7     espanyolbarcelona
8               granada
9              lacoruña
10            laspalmas
11              leganés
12               málaga
13              osasuna
14           realmadrid
15         realsociedad
16              sevilla
17        sportinggijón
18             valencia
19           villarreal
Name: team, dtype: object

In [69]:
## change them for each season 
filter_ = transfers["team"].apply(lambda x : x not in ["alavés","osasuna"
                                                       ,"leganés"])
transfers = transfers[filter_].reset_index().drop(["index"],axis=1)

In [70]:
transfers["team"]

0        athleticbilbao
1        atléticomadrid
2             barcelona
3                 betis
4             celtavigo
5                 eibar
6     espanyolbarcelona
7               granada
8              lacoruña
9             laspalmas
10               málaga
11           realmadrid
12         realsociedad
13              sevilla
14        sportinggijón
15             valencia
16           villarreal
Name: team, dtype: object

In [71]:
train_data["team_name"]

0       athleticclub
1     atléticomadrid
2          barcelona
3              betis
4          celtavigo
5              eibar
6           espanyol
7            granada
8           lacoruña
9          laspalmas
10            málaga
11        realmadrid
12      realsociedad
13           sevilla
14     sportinggijón
15          valencia
16        villarreal
Name: team_name, dtype: object

In [72]:
pd.concat([train_data,transfers],axis=1)# to check on the results

,Age,MP,Starts,Min,90s,Gls,Ast,G+A,G-PK,PK,PKatt,rank,team_name,#attackers,team,Attacking_transfers
0,30.333333,16.000000,11.333333,1049.000000,11.666667,6.666667,2.000000,8.666667,5.666667,1.000000,1.666667,5.0,athleticclub,3,athleticbilbao,0
1,26.600000,20.600000,14.600000,1272.200000,14.140000,7.200000,2.800000,10.000000,7.000000,0.200000,0.400000,3.0,atléticomadrid,5,atléticomadrid,4
2,23.333333,22.166667,19.166667,1732.000000,19.250000,15.666667,7.333333,23.000000,13.833333,1.833333,3.166667,1.0,barcelona,6,barcelona,1
3,29.000000,17.200000,11.200000,1047.400000,11.620000,4.400000,1.400000,5.800000,3.800000,0.600000,0.800000,10.0,betis,5,betis,3
4,25.000000,35.000000,21.500000,1950.000000,21.650000,10.000000,2.000000,12.000000,9.000000,1.000000,1.000000,6.0,celtavigo,2,celtavigo,2
5,26.333333,26.666667,18.000000,1685.000000,18.733333,9.333333,3.000000,12.333333,8.333333,1.000000,1.000000,14.0,eibar,3,eibar,5
6,23.333333,25.666667,15.666667,1463.333333,16.266667,5.000000,1.000000,6.000000,4.666667,0.333333,0.666667,13.0,espanyol,3,espanyolbarcelona,3
7,25.250000,19.750000,12.750000,1185.250000,13.175000,5.250000,1.000000,6.250000,3.500000,1.750000,1.750000,16.0,granada,4,granada,3
8,24.500000,18.500000,12.000000,1136.750000,12.650000,4.750000,2.000000,6.750000,4.500000,0.250000,0.250000,15.0,lacoruña,4,lacoruña,4
9,23.000000,30.000000,19.500000,1776.000000,19.750000,7.000000,1.500000,8.500000,7.000000,0.000000,0.000000,11.0,laspalmas,2,laspalmas,2
10,27.400000,17.400000,12.400000,1113.600000,12.380000,4.200000,1.400000,5.600000,3.800000,0.400000,0.400000,8.0,málaga,5,málaga,6
11,24.428571,21.000000,14.714286,1327.142857,14.757143,12.428571,5.571429,18.000000,11.571429,0.857143,1.285714,2.0,realmadrid,7,realmadrid,3
12,23.000000,17.250000,12.000000,1098.750000,12.225000,6.750000,0.750000,7.500000,6.750000,0.000000,0.000000,9.0,realsociedad,4,realsociedad,2
13,25.500000,15.750000,10.000000,900.250000,10.000000,5.500000,1.750000,7.250000,4.500000,1.000000,1.250000,7.0,sevilla,4,sevilla,3
14,21.500000,19.500000,11.750000,1098.250000,12.200000,5.000000,0.500000,5.500000,4.750000,0.250000,0.250000,17.0,sportinggijón,4,sportinggijón,2
15,24.000000,25.500000,15.500000,1441.333333,16.033333,4.166667,2.000000,6.166667,3.833333,0.333333,0.500000,12.0,valencia,6,valencia,1
16,25.750000,26.000000,17.500000,1539.750000,17.150000,6.000000,4.500000,10.500000,6.000000,0.000000,0.000000,4.0,villarreal,4,villarreal,5

In [73]:
Final_Data=pd.concat([train_data,transfers],axis=1).drop(["team_name","team"],axis=1)

In [74]:
Final_Data.to_csv(f"sstand-stats{season}/final-data-{season}.csv")